@use "../../variables" as *;

.input-title {
  font-weight: bold;
}

.input-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  color: $text-color;
}

.input-container {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}
